PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/jac_delivery
JWT_SECRET=changeme

INITIAL_ADMIN_NAME=Administrador
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_EMAIL=admin@local
INITIAL_ADMIN_PASSWORD=admin123
